<a href="https://colab.research.google.com/github/Shajad121/Netflix-capston-project/blob/main/EDA_Netflix_Submission_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -

##### **Project Type**    - EDA/Unsupervised
##### **Contribution**    - Individual

# **Project Summary -**

This project is about the Credit card default prediction analysis. When we start this project, it is very difficult to understand and look very complex. In first step we upload the data and then we start to find the duplicate values and nulls values and missing values etc. in this dataset we found the some values are missing in Cast and Directors columns so we decide to remove that colums also in release year there are sum values also missing we fill that values with mean and we also fill the country columns null values with mode in. After completion of 1st step in 2nd step we plot the data in form of graph, pie plot and bar plot and line plot and also box plot, and in box plot we find some outlier so we remove the outliers. And we also find some hidden information by plot the graph. In this dataset there are two types of contents 30.86% is Tv shows and 69.14% is movies includes. We have reached a conclusion from our analysis from the content added over years that Netflix is focusing movies and TV shows (From 2016 data we get to know that Movies is increased by 80% and TV shows is increased by 73% compare). From the dataset insights we can conclude that, most number of TV Shows released in 2017 and for Movies it is 2020. On Netflix USA has the largest number of contents. And most of the countries preferred to produce movies more than TV shows. And then India comers on number 2 hos produce the largest movies and the tv show. Most of the movies are belonging to 3 categories. TOP 3 content categories are, International movies, dramas, comedies. there are 35.1% movies and tv shows are from the United State. 12.7% movies and tv shows are from the India. 5.5% tv shows and movies from the United Kingdom.3.1% tv shows and movies are from the Japan. 2.5% movies and shows are from the South Korea. We also devide the data into month year and the day of month and add that columns into the data frame and we also create some Dataframe in our data set.  In text analysis (NLP) I used stop words, removed punctuations, stemming & TF-IDF vectorizer and other functions of NLP. Applied different clustering models like K-means, hierarchical, Agglomerative clustering, DBSCAN on data we got the best cluster arrangements. By applying different clustering algorithms to our dataset . we get the optimal number of cluster is equal to 3 .So we decide to take the as no of cluster in this data because it is best no in our conclueion.

# **GitHub Link -**

https://github.com/Shajad121/Netflix-capston-project.git

# **Problem Statement**

This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.
In 2018, they released an interesting report which shows that the number of TV shows on Netflix has nearly tripled since 2010. The streaming serviceâ€™s number of movies has decreased by more than 2,000 titles since 2010, while its number of TV shows has nearly tripled. It will be interesting to explore what all other insights can be obtained from the same dataset.
Integrating this dataset with other external datasets such as IMDB ratings, rotten tomatoes can also provide many interesting findings.

#### **Define Your Business Objective?**

Our object is to understanding what type of ncontent is available in different country and if netflix has been increasingly focusing on tv show rather then movies in recent year clustring similar content by matching Text based feature

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

### Dataset Loading

In [ ]:
# mount the drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Load Dataset
df = pd.read_csv('/content/drive/MyDrive/netflix /file.csv')

### Dataset First View

In [ ]:
# Dataset First Look
df.head(5)

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
df.shape

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df.duplicated()

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

In [ ]:
# Visualizing the missing values
import missingno as msno

In [ ]:
msno.bar(df,labels=True,figsize=(15,8))

### What did you know about your dataset?

There are 7787 rows and 12 columns present in this data set. each columns represent the different information about the data. there are no duplicate values present in this data set. there are 11 pbject type and q1 is int datatype. and there are some null values present in this data set. approx 30% director name are missing in this data.718 in cast name 510 in country and 10 in date added rows is null in this data set

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df.columns

In [ ]:
# Dataset Describe
df.describe()

### Variables Description

show_id  -->  Unique id for every movie/tv show

type  -->  identifier -A movie or tv show

title  -->  Title of the movie and tv show

director  -->  director of the show

cast  -->  Actors involved

country  -->  Country of production

date_added  -->  date it was added at Netflix

release_year  -->  Actual release year of the show

rating  -->  TV raring of the show

duration  -->  Total duration in minutes or no. of the seasons

listed_in  -->  Genre

description  -->The summary description

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
for i in df :
  print(f'Unique values for {i}: {df[i].unique()}')

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.

In [ ]:
# import the date time
import datetime

In [ ]:
# convert tha date into Datetimeobject
df['date_added'] = pd.to_datetime(df['date_added'])

In [ ]:
# 1st we split the date added into year month and the day
df['day_added'] = df['date_added'].dt.day
df['week_added'] = df['date_added'].dt.week
df['month_added'] = df['date_added'].dt.month
df['year_added']  = df['date_added'].dt.year

In [ ]:
# we remove the director 
df.drop(['director'],axis = 1, inplace=True)

In [ ]:
# remove the cast columns
df.drop(['cast'],axis=1,inplace=True)

In [ ]:
from matplotlib import figure
core=df.corr()
plt.figure(figsize=(15,8))
sns.heatmap(core,annot = True)

In [ ]:
# count the yearv_wise_movie 
year_wise_movies=df[df.type =='TV Show']['release_year'].value_counts().sort_index(ascending=False).head(15)
# count the year_wise_show
year_wise_shows=df[df.type =='Movie']['release_year'].value_counts().sort_index(ascending=False).head(15)
# total no of content
total_movies_shows=df['release_year'].value_counts().sort_index(ascending=False).head(15)

In [ ]:
sns.set(font_scale=1.4)
total_movies_shows.plot(figsize=(12, 6), linewidth=2.5, color='black',label="Total Content / year")
year_wise_movies.plot(figsize=(12, 6), linewidth=2.5, color='red',label="Movies / year",ms=3)
year_wise_shows.plot(figsize=(12, 6), linewidth=2.5, color='blue',label="TV Shows / year")
plt.xlabel("Years", labelpad=15)
plt.ylabel("Number", labelpad=15)
plt.legend()
plt.title("Production Growth Yearly", y=1.02, fontsize=22);

In [ ]:
#cresting a categories
categories = ", ".join(df['listed_in']).split(", ")
categories[:5]

In [ ]:

print(len(categories))

len(set(categories))

### What all manipulations have you done and insights you found?

Answer Here.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# Chart - 1 visualization code
df['type'].value_counts().plot.pie(autopct = '%1.1f%%')

##### 1. Why did you pick the specific chart?

to calculate the types of data

##### 2. What is/are the insight(s) found from the chart?

in this data there are 69% are movies and 30.9% are tv shows present in this data

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

yes

#### Chart - 2

In [ ]:
# Chart - 2 visualization code
df['country'].value_counts().plot.pie(autopct = '%1.1f%%')

##### 1. Why did you pick the specific chart?

to check the top 5 country in production of movies and shows

##### 2. What is/are the insight(s) found from the chart?

according to this plot

there are 35.1% movies and tv shows are from the United State. 

12.7% movies and tv shows are from the India. 

5.5% tv shows and movies from the United Kingdom. 

3.1% tv shows and movies are from the Japan. 

2.5% movies and shows are from the South Korea

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

yes

#### Chart - 3

In [ ]:
sns.set(font_scale=1.4)
plt.rcParams["figure.autolayout"] = True
(df['year_added'].value_counts()).plot(kind = 'bar',figsize=(12, 6), color='blue')
plt.xlabel("Years", labelpad=15)
plt.ylabel("Number", labelpad=15)
plt.legend()
plt.title("Production Growth Yearly", y=1.02, fontsize=22);

##### 1. Why did you pick the specific chart?

to find to no of movieas and show produce in the year

##### 2. What is/are the insight(s) found from the chart?

According to this lot we show that 
more then 2000 movies produce in 2019

2000 movieas and shows produce in 2020

1600 movies and shows produce in 2018 aproximatly.


1200 movies and shows are produce in 2017

less them 500 shows and movies produce per year before 2017

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

yes

#### Chart - 4

In [ ]:
# Chart - 4 visualization code
plt.figure(figsize = (12 ,8 ))
(df['month_added'].value_counts()).plot(kind = 'bar')
plt.title("Month wise content barplot" , fontsize = 19)
plt.xlabel("Month" , fontsize = 15)
plt.ylabel("Count" , fontsize = 15)

##### 1. Why did you pick the specific chart?

to calculate the count according to the month

##### 2. What is/are the insight(s) found from the chart?

in this plot we show that in december more then 800 movies and shows aded on net flix and then november between 750-800 movies and shows are added on neflix and then january 750 shows and movies are added on january and february is the least movies and shows added month.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 5

In [ ]:
# Chart - 5 visualization code
plt.figure(figsize = (12 ,8 ))
(df['day_added'].value_counts()).plot(kind = 'bar')
plt.title("Month wise content barplot" , fontsize = 19)
plt.xlabel("day" , fontsize = 15)
plt.ylabel("Count" , fontsize = 15)

##### 1. Why did you pick the specific chart?

To calculate the movies and shows according the days

##### 2. What is/are the insight(s) found from the chart?

according to this  plot 1st days of every month to most movies and shows are added on the netflix and then the 15th day of month the movies and the shows added on the netflix between the 650to 700. and then the last day of the month is most released day of netfflix it is between the 200 to 250.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 6

In [ ]:
# Chart - 6 visualization code
#finding the outliers in release year
#df['release_year'].value_count
plt.figure(figsize=(20,7))
sns.boxplot(x=df['release_year'])

##### 1. Why did you pick the specific chart?

to calculate the outliers

##### 2. What is/are the insight(s) found from the chart?

According to this plot we see that after the 2012 to 2021. is founded as outliers and we delet this outliers.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 7

In [ ]:
# Chart - 7 visualization code
sns.set(font_scale=1.4)
total_movies_shows.plot(figsize=(12, 6), linewidth=2.5, color='black',label="Total Content / year")
year_wise_movies.plot(figsize=(12, 6), linewidth=2.5, color='red',label="Movies / year",ms=3)
year_wise_shows.plot(figsize=(12, 6), linewidth=2.5, color='blue',label="TV Shows / year")
plt.xlabel("Years", labelpad=15)
plt.ylabel("Number", labelpad=15)
plt.legend()
plt.title("Production Growth Yearly", y=1.02, fontsize=22);

##### 1. Why did you pick the specific chart?

to check the growth of the movies and shows

##### 2. What is/are the insight(s) found from the chart?

there is an boost comming from 2014 to 2021

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 8

In [ ]:
# Chart - 8 visualization code
# movies
movies = df[df['type'] == 'Movie' ]
#Pointplot on top tv show ratings 
plt.figure(figsize=(12,6))
tv_ratings = movies.groupby(['rating'])['show_id'].count().reset_index(name = 'count').sort_values(by = 'count', ascending = False)
sns.pointplot(x='rating',y='count',data=tv_ratings)
plt.title('Top Movie Ratings Based On Rating System',size='20')
plt.show()

##### 1. Why did you pick the specific chart?

to find calculate the movies and shows acording t the rating

##### 2. What is/are the insight(s) found from the chart?

TV-MA (For Mature Audiences)1900 movies come under this rating.

TV-14 ( May be unsuitable for children under 14 ) 1250 movies come under this rating.

TV-PG ( Parental Guidance Suggested ) 500 movies come under this rating.

NR ( Not Rated ) 150 movies come under this rating.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 9

In [ ]:
# plot the line plot of the duration
plt.plot
df.duration.value_counts().plot(kind='line')

##### 1. Why did you pick the specific chart?

to finde the duration outliers

##### 2. What is/are the insight(s) found from the chart?

nan

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 10

In [ ]:
# Chart - 9 visualization code

movies = df[df['type'] == 'Movie' ]
#Pointplot on top tv show ratings 
plt.figure(figsize=(12,6))
tv_ratings = movies.groupby(['rating'])['show_id'].count().reset_index(name = 'count').sort_values(by = 'count', ascending = False)
sns.pointplot(x='rating',y='count',data=tv_ratings)
plt.title('Top Movie Ratings Based On Rating System',size='20')
plt.show()

##### 1. Why did you pick the specific chart?

to calculate the movies according to the rating system

##### 2. What is/are the insight(s) found from the chart?

TV-MA (For Mature Audiences)1900 movies come under this rating.

TV-14 ( May be unsuitable for children under 14 ) 1250 movies come under this rating.

TV-PG ( Parental Guidance Suggested ) 500 movies come under this rating.

NR ( Not Rated ) 150 movies come under this rating.

#### Chart - 11 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code
corr = df.corr()
sns.heatmap(corr, cmap="coolwarm", annot=True)

##### 1. Why did you pick the specific chart?

to finde out the relation

##### 2. What is/are the insight(s) found from the chart?

In thid corilation heatmap we finde that the 86% corilation between the week_added and the month_added.

#### Chart - 12 - Pair Plot

In [ ]:
# Pair Plot visualization code
sns.pairplot(df,hue='rating')

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ? 
Explain Briefly.

According to this data seet we konws vwry well that the most movies are release between 2009 to 2022. according to thi data most of the movies added in netflix on january and december and november.
but accordging to our analysis netflix has to choose the hollyday's day to added the movies and the tv shows. because that day most of persons are free and enjoing the movies or  games.

# **Conclusion**

Now days ott plateform is most loved platform of peoples to  watch the movies and the shows. peoples love this plateform because of they watch lots of movies and shows in cheap price rarte. and also because freedom of speech and so on . 
according to our analysis there are 69% are movies and 30.9% are tv shows present in this data.
according to this plot
there are 35.1% movies and tv shows are from the United State.
12.7% movies and tv shows are from the India.
5.5% tv shows and movies from the United Kingdom.
3.1% tv shows and movies are from the Japan.
2.5% movies and shows are from the South Korea.
According to this lot we show that more then 2000 movies produce in 2019
2000 movieas and shows produce in 2020
1600 movies and shows produce in 2018 aproximatly.
1200 movies and shows are produce in 2017
less them 500 shows and movies produce per year before 2017.
in this plot we show that in december more then 800 movies and shows aded on net flix and then november between 750-800 movies and shows are added on neflix and then january 750 shows and movies are added on january and february is the least movies and shows added month.
according to this plot 1st days of every month to most movies and shows are added on the netflix and then the 15th day of month the movies and the shows added on the netflix between the 650to 700. and then the last day of the month is most released day of netfflix it is between the 200 to 250.
According to this plot we see that after the 2012 to 2021. is founded as outliers and we delet this outliers.
TV-MA (For Mature Audiences)1900 movies come under this rating.
TV-14 ( May be unsuitable for children under 14 ) 1250 movies come under this rating.
TV-PG ( Parental Guidance Suggested ) 500 movies come under this rating.
NR ( Not Rated ) 150 movies come under this rating.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***